{% extends "layouts/base.html" %}
{% set project = "Home" %}
 
{% block body %}
   <!-- Start of body content specific to page -->
   <div class="px-5 py-5 mx-auto">
       <h1 class="text-white"><strong>Amitha's Flask</strong></h1>
       <div class="row">
           <div class="col-4">
               <div class="card">
                   <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="250">
                   <div class="card-body">
                   <h5 class="card-title">Fun Facts!</h5>
                   <p class="card-text">
                       <ol>
                           <li>Fun Facts:
                           <li> My favorite color is pink. </li>
                           <li> My favorite season is summer.</li>
                           <li> I am a senior. </li>
                       </ol>
                   </p>
                   <a href="#" class="btn btn-primary">Go somewhere</a>
                   </div>
               </div>
           </div>
           <div class="col-4">
               <div class="card">
                   <img class="card-img-top" src="{{ url_for('static', filename='assets/flask.png') }}" alt="Flask Development" height="250">
                   <div class="card-body">
                   <h5 class="card-title">What is <mark>Flask</mark>? How do I start Web development?</h5>
                   <p class="card-text">
                       <ol>
                           <li>I work as a private tutor and spealcise in tutoring math and English. </li>
                           <li>Over summer, I visited Dubai and India to see m grandparents.</li>
                           <li>Myfavorite TV show is Jane the Virgin</li>
                           <li>My favorite cuisine is Thai food.</li>
                       </ol>
                   </p>
                   <a href="#" class="btn btn-primary">Go somewhere</a>
                   </div>
               </div>
           </div>
           <div class="col-4">
               <div class="card">
                   <img class="card-img-top" src="{{ url_for('static', filename='assets/pythondb.png') }}" alt="Backend and Persistence" height="250">
                   <div class="card-body">
                   <h5 class="card-title">How do you manage <mark>Persistent data</mark> with Python?</h5>
                   <p class="card-text">
                       <ol>
                           <li>I enjoy doing anything artsy such as drawing, painting, and photography.</li>
                           <li>I used to be on a robotics team in middle school.</li>
                           <lil>My favorite fruits are either mangos or strawberries.
                           <li>I have never broken a bone.</li>
                       </ol>
                   </p>
                   <a href="#" class="btn btn-primary">Go somewhere</a>
                   </div>
               </div>
           </div>
          
       </div>
   </div>
{% endblock %}

